receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s
    send_batch_size: 1024

  resource/plugin_versions:
    attributes:
      - key: symbiosis.as_you.version
        value: ${env:AS_YOU_VERSION}
        action: upsert
      - key: symbiosis.with_me.version
        value: ${env:WITH_ME_VERSION}
        action: upsert

exporters:
  prometheus:
    endpoint: 0.0.0.0:8889
    resource_to_telemetry_conversion:
      enabled: true
    metric_expiration: 5m

  otlp_http/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

  debug:
    verbosity: basic

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch, resource/plugin_versions]
      exporters: [prometheus, debug]

    logs:
      receivers: [otlp]
      processors: [batch, resource/plugin_versions]
      exporters: [otlp_http/loki, debug]
